.Button{
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    color: snow;
    margin: 20px;
    padding: 10px;
}

.Button:hover{
    background: bisque;
    color: #112353;
    cursor: pointer;
}