.NotFoundPage {
    background-image: url(https://miro.medium.com/max/1200/1*EQisBuMOijQT8woW0Jn6pA.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}